@model DataAccessLayer.Models.Order

@{
    ViewData["Title"] = "Verwijder bestelling";
}

<h1>Weet je zeker dat je deze bestelling wilt verwijderen?</h1>

<div>
    <h4>Order van @Model.Customer.Name op @Model.OrderDate.ToShortDateString()</h4>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Verwijder</button>
    <a asp-action="Index" class="btn btn-secondary">Annuleer</a>
</form>
